* {
    margin:0;
    padding:0;
  }
  body {
    height:100vh；
  }
  .cover {
    position:absolute;
    content:'';
    display:block;
    width:100%;
    height:100%;
    background:url('https://i.loli.net/2018/06/25/5b305b7879b0b.jpg')
      center center no-repeat;
    background-size:cover;
    filter:blur(5px);
  }
  .musicbox {
    position:absolute;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
    font-family:cursive;
    font-size:16px;
    color:#f06d6a;
    width:340px;
  }
  .musicpanel {
    border:1px solid black;
    padding:20px 20px 5px 20px;
    box-shadow:0px 2px 5px 0px rgba(0,0,0,0.1);
    background-color:(255,255,255,0.9)
  }
  .musicbox .control .iconfont {
    margin-right:12px;
    cursor:point;
  }
  .music .control {
    margin-top:50px;
    font-size:22px;
    color:#ee8a8e;
    float:left
  }
  .musicbox .info {
    margin-left:120px;
  }
  .musicbox .info .title {
    font-size:18px;
  }
  .musicbox .info .author {
    font-size:13px;
  }
  .musicbox .progress {
    width:260px;
  }
  .musicbox .progress .bar {
    height:3px;
    margin-top:5px;
    background-color:rgba(0,0,0,0.2);
    cursor:point;
  }
  .musicbox .progress .time {
    margin-left:220px;
  }
  ul>li{
    border:1px solid rgba(0,0,0,0.8);
    cursor:point;
  }